body{
    background-color: antiquewhite;
    color: black;
}
#header{
    background-color: #0000;
    width:100%;
}
#mine{
    background-color: aqua;
}
#footer{
    background-color: blue;
}

.nav-bar{
    color: red;
    float: left;
    font-family: Helvetica;
    font-size: 20px;
    padding:8px;
    text-decoration: none;
}
