body{
    background-color: black;
    width: 100%;
    height: 100px
}
#header{
    background-color: #0000;
    width:100%;
}
#mine{
    background-color: aqua;
}
#footer{
    background-color: blue;
}

.nav-bar{
    color: white;
    float: left;
    font-family: Helvetica;
    font-size: 20px;
    padding:8px;
    text-decoration: none;
}
